@import "tailwindcss";
@config "../tailwind.config.js";

/* Custom Scrollbar for dark theme */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #374151; 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563; 
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #374151 #1f2937;
}


.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;      /* Firefox */
}

